<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/profile_logo.jpg">

        <p>This site is created by Manan Vaghela. It uses mapbox.com and darksky.net API.</p>
    </div>

    {{>footer}}

</body>

</html>